---
layout: page.liquid
title: index
---

<p>hello! click on things :)</p>

<h1>things</h1>

<ul>
  {%- for project in collections.project reversed -%}
  {% comment %} {% render "project_item.liquid", project: project %} {% endcomment %}
  <li>
    {%- if project.data.month_year -%}
    <a href="/{{ project.data.title | slugify }}/">
      {{ project.data.title }} ({{project.data.month_year}})
    </a>
    {%- else -%}
    <a href="/{{ project.data.title | slugify }}/">
      {{ project.data.title }}    
    </a>
    {%- endif -%}
  </li>
  {%- endfor -%}
</ul>


{% comment %} {%- for project in collections.project reversed -%}
{% render "project_item.liquid", project: project %}
{%- endfor -%} {% endcomment %}
